@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
  color: #2B2A27;
  margin: 0;
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  color: #2b2a27;
}
li {
  list-style: none;
}

#a-mainvisual img {
  width: 100%; 
  height: 100vh;
  object-fit: cover;
  object-position: center top;
  margin-bottom: 80px;
}

#a-container {
  text-align: center;
}
#a-container .p-container {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
}
#a-container .p-text {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 1rem;
}

#a-subvisual {
  /* margin: 0; */
  /* max-width: 100%; */
  /* width: calc(100% / 3); */
}
.p-subvisual {
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 60px;
}
.p-subvisual li {
  width: calc(100% / 3);
}
.p-subvisual__img {
  height: 500px;
  width: 100%;
  line-height: 1px;
  /* margin-bottom: 60px; */
  object-fit: cover;
  vertical-align: bottom;
}

.a-recipe {
  display: flex;
  margin-bottom: 60px;
}
.recipe_visual {
  width: 50%;
}
.recipe_visual img {
  height: 700px;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.a-recipe__text {
  width: 50%;
}
.p-recipe__text {
  width: 90%;
  margin: 0 5%;
  padding-top: 40px;
}
.p-recipe__text h1 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.p-recipe__text p {
  font-size: 1rem;
}
.p-recipe__text h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.p-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.p-text__left, .p-text__right {
  margin: 0;
  padding: 6px 0;
}

/* .p-recipe__text dl {
  display: flex;
  flex-wrap: wrap;
}
.p-recipe__text dt {
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
}
.p-recipe__text dd {
  justify-content: flex-end;
  border-bottom: 1px solid #ccc;
} */
.p-recipe__text ol {
  padding-left: 20px;
}
.p-recipe__text li {
  list-style: nomal;
  font-size: 1rem;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
}


#a-btn {
  text-align: center;
}
.p-btn {
  text-align: center;
  padding: 18px 60px;
  border: 1px solid #2B2A27;
  display: inline-block;
  color: #2B2A27;
  margin-bottom: 80px;
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 0.75rem;
}
footer .a-contact {
  display: flex;
  justify-content: center;
}
footer .a-contact ul {
  display: flex;
  padding: 0;
  margin: 0;
}
footer .a-contact a {
  color: #2B2A27;
}
footer .a-contact li + li {
  margin-left: 20px;
}
footer p {
  margin: 20px 0;
}

@media screen and (max-width: 834px) {
  #a-subvisual .p-subvisual {
    /* display: flex; */
    flex-direction: column;
  }
  .p-subvisual li {
    width: 100%;
  }
} 