@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: "Noto Serif", "Noto Serif JP", sans-serif;
  letter-spacing: 0.1em;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* 共通パーツ */
.a_content_wide {
  max-width: 1200px;
  margin: 0 auto;
}
.a_content_small {
  max-width: 1200px;
  padding: 100px 100px 70px 100px;
  margin: 0 auto;
}
.section_title {
  font-size: 3.75rem;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
}
.section_title::after {
  content: "";
  display: block;
  width: 200px;
  height: 5px;
  background-color: #282F35;
  margin-left: 33px;
}
.section_back_text {
  font-size: 5.625rem;
  color: rgb(23, 23, 23, 0.05);
  margin-top: 70px;
  line-height: 1.5;
}
.y_btn {
  display: inline-block;
  background-color: #F7D43F;
  color: #171717;
  box-shadow: 0 0 6px #1B1310;
  margin: 70px auto 0 auto;
  width: 235px;
  padding: 18px 0;
  text-align: center;
  border-radius: 30px;
}
.btn {
  text-align: center;
}

/* ヘッダー */
.header a {
  color: #fff;
  transition: .3s;
}
.header {
  /* color: #fff; */
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  transition: .3s;
}
.a_header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p_header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p_header_logo {
  font-size: 1.625rem;
  font-weight: bold;
  font-style: italic;
}
.p_header_nav li {
  margin-right: 30px;
  font-weight: bold;
  font-style: italic;
}
.p_header_nav li:last-child {
  margin-right: 0;
}
.burger_btn {
  display: none;
}
.header .fixed {
  position: fixed;
  background-color: #282F35;
  padding: 30px;
  width: 100%;
  transition: .3s;
}

/* .fv */
.fv {
  height: 100vh;
  min-height: 550px;
  position: relative;
  background-image: url(../img/fv-bgi_01@2x.jpg);
  background-size: cover;
  background-position: center;
}
.p_header_main_text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 120px;
  bottom: 177px;
  font-weight: bold;
  color: #fff;
}
.p_header_main_text .en {
  font-size: 4.375rem;
  display: block;
  margin-bottom: 31px;
  line-height: 0.7;
}
.p_header_main_text .ja {
  font-size: 2.5rem;
  display: block;
  margin-left: 40px;
  line-height: 1.25;
}



/* concept */
#concept .a_content_small {
  padding-bottom: 0;
}
.p_section_title_text {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.7;
  margin-top: 70px;
  margin-bottom: 60px;
  /* width: 600px; */
  /* font-family: 'Noto Serif JP', sans-serif; */
}
.a_concept_content {
  display: flex;
  justify-content: space-between;
}
.p_concept_text {
  text-align: left;
  line-height: 1.9;
  width: 44%;
  font-weight: bold;
}
.p_concept_content_img {
  width: 44%;
}
.p_concept_content_img img {
  width: 100%;
}
#concept .section_back_text {
  text-align: right;
  margin-bottom: 70px;
}

/* works */
#works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#works .a_content_wide {
  padding: 104px 0 70px 0;
}
#works .section_title {
  justify-content: right;
  color: #fff;
  margin-bottom: 80px;
}
#works .section_title::after {
  background-color: #fff;
}
#works .a_content_small {
  padding-top: 0;
  padding-bottom: 0;
}
.a_works_content {
  display: flex;
  justify-content: space-between;
}
.a_works_content li {
  width: 32%;
  background-color: #fff;
}
.a_works_content li .p_works_content_text {
  line-height: 1.875;
  margin: 25px 20px;
}
#works .section_back_text {
  color: rgb(255, 255, 255, 0.1);
}

/* service */
#service .a_content_small {
  padding-bottom: 80px;
}
.a_service_content {
  display: flex;
}
.a_service_content li {
  width: calc(100% / 3);
  position: relative;
}
.p_service_content1 {
  background-image: url(../img/service-img01@2x.jpg);
}
.p_service_content2 {
  background-image: url(../img/service-img02@2x.jpg);
}
.p_service_content3 {
  background-image: url(../img/sevice-img03@2x.jpg);
}
.a_service_content li a{
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 320px;
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  transition: .3s;
}
.a_service_content li a:hover {
  background-color: rgba(40,47,53,.7);
  transition: .3s;
}
#service .section_back_text {
  text-align: right;
}
#service .a_content_wide {
  margin-bottom: 70px;
}

/* contact */
#contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#contact .a_content_wide {
  padding: 109px 0 70px 0;
}
#contact .section_title {
  color: #fff;
  justify-content: right;
  margin-bottom: 80px;
}
#contact .section_title::after {
  background-color: #fff;
}
.a_contact_text {
  text-align: center;
  color: #fff;
}
.a_contact_text p {
  font-size: 1.25rem;
}
.a_contact_text .y_btn {
  margin-top: 40px;
}
#contact .section_back_text {
  color: rgb(255, 255, 255, 0.1);
}

/* footer */
footer p {
  text-align: center;
  font-size: 0.875rem;
  padding: 30px 0;
}

@media screen and (max-width:768px) {
  .a_content_wide,
  .a_content_small {
    padding: 0 4%;
  }
  .section_title {
    font-size: 1.875rem;
  }
  .section_title::after {
    width: 90px;
  }
  .burger_btn {
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    z-index: 20;
  }
  .burger_btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000;
    display: block;
  }
  .burger_btn span:nth-child(1) {
    top: 0;
  }
  .burger_btn span:nth-child(2) {
    top: 10px;
  }
  .burger_btn span:nth-child(3) {
    top: 20px;
  }
  .a_header_nav {
    width: 100%;
    height: 100vh;
    background-color: #282F35;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    opacity: 0;
    text-align: center;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: hidden;
  }
  .open .a_header_nav {
    opacity: 1;
    visibility: visible;
    color: #fff;
  }
  #header .a_header_nav .p_header_nav{
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  #header .p_header_nav li {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .open .burger_btn span:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .open .burger_btn span:nth-child(2) {
    display: none;
  }
  .open .burger_btn span:nth-child(3) {
    transform: translateY(-10px) rotate(45deg);
  }
  #mask {
    display: none;
    transition: 0.5s;
  }
  .open #mask {
    width: 100%;
    height: 100%;
    background-color: #282F35;
    display: block;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .p_header_main_text {
    text-align: center;
  }
  .p_header_main_text .en {
    font-size: 2.3125rem;
    margin-bottom: 53px;
  }
  .p_header_main_text .ja {
    font-size: 1.875rem;
    width: 206px;
    margin: 0 auto;
  }

  
  /* concept */
  #concept {
    margin-top: 100px;
  }
  .a_concept_content {
    flex-direction: column;
  }
  .p_concept_text {
    width: 100%;
    margin-bottom: 30px;
  }
  .p_concept_content_img {
    width: 100%;
  }
  .p_section_title_text {
    font-size: 1.25rem;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .section_back_text {
    margin-top: 40px;
    font-size: 2.5rem;
  }

  /* works */
  #works .a_content_wide,
  #contact .a_content_wide {
    padding: 100px 4% 40px 4%;
  }
  #works .a_content_small {
    padding: 0;
  }
  .a_works_content {
    flex-direction: column;
  }
  .a_works_content li {
    width: 100%;
  }
  #works .section_title {
    margin-bottom: 50px;
  }
  .a_works_content li img {
    width: 100%;
  }
  #works .y_btn {
    margin-top: 80px;
  }
  #service .section_title {
    margin-top: 100px;
  }
  .a_service_content {
    flex-direction: column;
  }
  .a_service_content li {
    width: 100%;
    margin-bottom: 30px;
  }
  .a_service_content li:last-child {
    margin-bottom: 0;
  }
  #contact .y_btn {
    margin-top: 30px;
  }
}