@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: 'Roboto', sans-serif, 'Noto Sans JP', sans-serif;
  color: #141414;
  line-height: 1.8;
  letter-spacing: 0.05em;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 画面幅設定 */
.a_content {
  max-width: 1200px;
  padding: 0 85px;
  margin: 0 auto;
}

/* 共通パーツ */
.p_section_title {
  font-size: 2.25rem;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 70px;
}
.p_text_big {
  font-size: 1.5rem;
  /* font-family: 'Noto Sans CJK JP'; */
  /* letter-spacing: 0.1rem; */
  line-height: 2;
  letter-spacing: 0.1;
  font-weight: bold;
}
.p_text_small {
  font-size: 0.875rem;
  /* letter-spacing: 0.05rem; */
  line-height: 2.14;
  font-weight: bold;
}

/* ヘッダー */
#header {
  background-color: #1B1310;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 120px;
  height: 74px;
  border-bottom: 1px solid #fff;
}
#header .p_title {
  font-size: 1.625rem;
}
#header .p_title a {
  color: #fff;
}
#header .p_header_nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#header .p_header_nav li {
  margin-left: 55px;
}
#header .p_header_nav li a {
  color: #fff;
}

/* メインビジュアル */
#mainvisual {
  height: 90vh;
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
	background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative; */
}
#mainvisual p {
  font-size: 3.125rem;
  font-weight: bold;
  /* letter-spacing: 0.05em; */
  /* line-height: 2.08; */
  color: #fff;
  padding: 34px 42px;
  border: 2px solid #fff;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* About */
#about {
  margin-top: 100px;
}
#about .a_about_text .p_text_big {
  margin-bottom: 40px;
}

/* Service */
#service {
  margin-top: 150px;
}
#service .a_service_content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
#service .a_service_content:nth-child(2) {
  flex-direction: row-reverse;
  margin-bottom: 50px;
}
.a_service_content img {
  max-width: 480px;
}
.a_service_content_text {
  max-width: 480px;
  text-align: left;
}
.a_service_content_text .p_text_big {
  margin-bottom: 42px;
}

/* News */
#news {
  margin-top: 150px;
}
.a_news_content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 0;
}
.p_news_content {
  max-width: 320px;
  box-shadow: 0 0 6px #1B1310;
}
.p_news_content_text {
  padding: 25px 32px;
  font-size: 0.8125rem;
  color: #141414;
  text-align: left;
}

/* お問い合わせ */
#contact {
  margin-top: 150px;
  margin-bottom: 50px;
}
#contact .p_section_title {
  font-size: 1.5rem;
  font-family: 'Noto Sans CJK JP', sans-serif;
}
#contact dl {
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
}
#contact dt {
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
}
#contact dd {
  width: 100%;
  margin-bottom: 22px;
}
#contact dd input, 
#contact dd textarea {
  width: 100%;
  border: 1px solid #141414;
}
#contact dd textarea {
  height: 10rem;
}
#contact dd:last-child {
  margin-bottom: 50px;
}
#contact .submit_btn {
  background-color: #1B1310;
  border-radius: 51px;
  box-shadow: 0 0 6px #1B1310;
  color: #fff;
  display: block;
  font-size: 1.25rem;
  padding: 16px 0;
  margin: 0 auto;
  text-align: center;
  width: 235px;
}

/* フッター */
#footer {
  background-color: #1B1310;
  padding: 29px 0 31px 0;
}
#footer p {
  font-size: 0.875rem;
  text-align: center;
  color: #fff;
}