<%
    const accordionText=[
      { title: "大体の見積もり金額を電話で教えてもらえますか？" , answer: "対応可能です。"},
      { title: "もともと貼ってあるフィルムはいくらで剝がしてもらえますか？" , answer: "状況を見てから判断させていただきますので、一度訪問させていただけないでしょうか？お問い合わせフォームもしくはお電話にて問合せください。"},
      { title: "途中でキャンセルもしくはフィルムの変更は可能ですか？" , answer: "対応は可能ですが、状況によっては別途料金が発生する可能性がございます。事前にご了承いただけますと幸いです。"},
      { title: "土日祝日でも施工していますか？" , answer: "土曜日は施工していますが、日祝はお休みさせていただいております。"},
      { title: "引越後でもガラスフィルムの施工は可能ですか？" , answer: "施工可能です。お気軽にご依頼ください。"},
      { title: "現物サンプルを見たい時にはどうすれば良いですか？" , answer: "当店へお越しいただければサンプルの確認が可能です。"},
    ]
%>
<div class="top-accordion">
  <div class="accordion">
    <% accordionText.forEach(function (value) { %>
    <div class="accordion__content">
      <p class="accordion__title jsAccordionTitle"><span>Q</span><%= value.title %></p>
      <p class="accordion__answer"><span>A</span><%= value.answer %></p>
    </div>
    <% }); %>
  </div>
</div>