<head>
  <meta name="robots" content="noindex" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <!-- meta情報 （metatags:https://metatags.io/） -->
  <title><%= baseMeta.title %></title>
  <meta name="description" content="<%= baseMeta.desc %>" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="summary" />
  <!-- ファビコン -->
  <link rel="icon" href="/images/favicon.ico" />
  <!-- Google Font:https://fonts.google.com/ -->
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.min.css" />

  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script defer src="/js/script.min.js"></script>
</head>