<% const baseMeta = { title: 'トップ', desc: 'ディスクリプション', path:'./', page: 'top'}; %>
<% const text = '<p>Hello! World!</p>'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include(baseMeta.path + 'common/_head', {baseMeta: baseMeta}) %>

<body>

  <main>
    <%- include(baseMeta.path + 'parts/_title',{ mainTitle:'Q&A',subTitle:'よくある質問'}) %>
  
    <%- include(baseMeta.path + 'parts/_accordion') %>
  
    <%- include(baseMeta.path + 'parts/_button',{ link:'#',text:'Q&A'}) %>
  </main>
</body>

</html>